<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SCANNER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false" class="no-scroll">
  <div *ngIf="!showCamera" class="start-button-wrapper">
    <ion-button expand="block" (click)="startCameraView()">Start Camera</ion-button>
  </div>

  <div *ngIf="showCamera" class="camera-container">
    <video id="cameraFeed" #videoElement autoplay playsinline muted></video>
    <canvas id="overlayCanvas"></canvas>
  </div>
  <img *ngIf="croppedImageUrl" [src]="croppedImageUrl" [style.opacity]="cropOpacity">
</ion-content>
